$color-SEA_BLUE: #507cc0;
$color-WARM_GREY: rgb(155, 155, 155);
$color-WHITE: #ffffff;
$color-YELLOW: #ffcd00;
$color-GREEN: #228B22;
$color-LIGHT_GREY: #f2f2f2;

$color-BORDER: rgb(241, 241, 241);
$SHADOW: rgba(0, 0, 0, 0.1);
