@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";

@import "components/button";
@import "components/modal";

@import "layout/filter";
@import "layout/search";
@import "layout/status";

@import "pages/login";
@import "pages/ranking";

.header {
    &--container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    &__logo {
        display: flex;
        justify-content: center;
        width: auto;
        height: auto;
        max-width: 125px;
        max-height: 150px;
    }
}
