.filter-container {
    ul {
        display: block;
        position: relative;
        float: center;
        @media screen and (max-width: 470px) {
            columns: 2;
        }
        columns: 3;
    }

    button {
        border-width: 0;
        box-shadow: none;
    }

    &__category {
        @media screen and (max-width: 470px) {
            width: 230px;
            margin: 0 auto;
        }
        width: 350px;
        margin: 0 auto;
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__title {
            font-size: 16px;
            font-weight: bold;
        }
    }

    &--header-divider {
        border-width: 3px;
        margin-top: 17px;
    }

    &__subtitle {
        margin: 2rem 0 2.4rem;
        font-weight: bold;
    }

    &__border {
        margin-top: 2rem;
    }

    &__container {
        background-color: $color-WHITE;
        margin: 0 0 10px 0;
        min-height: 121px;
        width: 110px;

        &--selected {
            @extend .filter-container__container;
            background-color: $color-YELLOW;

            p {
                color: $color-WHITE;
                font-weight: bold;
            }
        }
    }

    &__list > * {
        padding: 1rem;
        border-radius: 12px;
        font-size: 12px;
        text-align: center;
        page-break-inside: avoid;

        &__block {
            margin: 0;

            &--details {
                display: block;
                text-align: center;


                img {
                    display: block;
                    margin: auto;
                }
            }
        }
    }

    &--frame {
        height: 300px;
        overflow-y: auto;
        @media screen and (min-width: 470px) {
            height: 280px;
        }
    }

    &__submit-button {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        margin: 10px 0;
        height: 46px;
        border-radius: 10px;
        background-color: $color-DARK_GREEN;
        box-shadow: 1px 1px 2px $SHADOW;

        p {
            display: block;
            line-height: 46px;
            height: 100%;
            text-align: center;
            color: $color-WHITE;
            font-size: 14px;
        }
    }
}

.method-container {
    display: flex;
    margin-right: 2rem;
    overflow-x: auto;

    &--content {
        white-space: nowrap;
        border-radius: 1.2rem;
    }

    &__button {
        border-width: 0;
        padding: 3px 2px;

        &:not(:last-child) {
            margin-right: 2.3rem;
        }

        &--selected {
            @extend .method-container__button;
            background-color: $color-YELLOW;
            box-shadow: 1px 1px 2px $SHADOW;
        }

        &__text {
            font-size: 1.2rem;

            &--selected {
                @extend .method-container__button__text;
                color: $color-WHITE;
                font-weight: bold;
            }
        }
    }
}

.category-container {
    display: flex;
    margin-right: 10px;
    overflow-x: auto;

    &--content {
        white-space: nowrap;
        border-radius: 1.2rem;
    }

    &__button {
        border-width: 0;
        padding: 3px 2px;

        &:not(:last-child) {
            margin-right: 2.3rem;
        }

        &--selected {
            @extend .category-container__button;
            background-color: $color-YELLOW;
            box-shadow: 1px 1px 2px $SHADOW;
        }

        &__text {
            font-size: 1.2rem;

            &--selected {
                @extend .category-container__button__text;
                color: $color-WHITE;
                font-weight: bold;
            }
        }
    }

    &__border {
        margin-top: 14px;
        margin-bottom: 10px;
    }
}
