.filter-container {
    ul {
        display: block;
        float: center;
        @media screen and (max-width: 470px) {
            columns: 2;
        }
        columns: 3;
    }

    li {
        margin: 0 0 10px 0;
    }

    &__category {
        @media screen and (max-width: 470px) {
            width: 230px;
            margin: 0 auto;
        }
        width: 350px;
        margin: 0 auto;
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__title {
            font-size: 16px;
            font-weight: bold;
        }
    }

    &--header-divider {
        border-width: 3px;
        margin-top: 17px;
    }

    &__subtitle {
        margin: 2rem 0 2.4rem;
        font-weight: bold;
    }

    &__border {
        margin-top: 2rem;
    }

    &__list > * {
        padding: 1rem;
        width: 110px;
        min-height: 115px;
        border-radius: 12px;
        font-size: 12px;
        background-color: $color-YELLOW;
        color: $color-WHITE;
        text-align: center;
        page-break-inside: avoid;

        &__block {
            margin: 0;

            &--details {
                display: block;
                text-align: center;

                img &__image {
                    display: block;
                    width: '100%';
                    margin: auto;
                }
            }
        }
    }
}

.method-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
    min-width: 100%;
    min-height: auto;
    overflow-x: auto;

    &--content {
        max-width: 100%;
        white-space: nowrap;
        height: auto;
        border-radius: 1.2rem;
    }

    &__button {
        border-width: 0;
        padding: 3px 2px;

        &:not(:last-child) {
            margin-right: 2.3rem;
        }

        &--selected {
            @extend .method-container__button;
            background-color: $color-YELLOW;
            box-shadow: 1px 1px 2px $SHADOW;
        }

        &__text {
            font-size: 1.2rem;

            &--selected {
                @extend .method-container__button__text;
                color: $color-WHITE;
            }
        }
    }
}

.category-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-width: 100%;
    min-height: auto;
    overflow-x: auto;

    &--content {
        max-width: 100%;
        white-space: nowrap;
        height: auto;
        border-radius: 1.2rem;
    }

    &__button {
        margin-right: 1rem;
        border-width: 0;
        padding: 3px 2px;
        border-width: 0;
        width: auto;
        height: auto;

        &--selected {
            @extend .category-container__button;
            background-color: $color-YELLOW;
            box-shadow: 1px 1px 2px $SHADOW;
        }

        &__text {
            font-size: 1.2rem;

            &--selected {
                @extend .category-container__button__text;
                color: $color-WHITE;
            }
        }
    }

    &__border {
        margin-top: 14px;
        margin-bottom: 10px;
    }
}
