.status-bar {
    &--left {
        @include status-bar;
        justify-content: flex-start;
        margin-left: 1.6rem;
    }

    &--right {
        @include status-bar;
        justify-content: flex-end;
        margin-right: 1.6rem;
    }
}

.like-container {
    display: flex;
    width: 11.4rem;
    height: 2.5rem;
    flex-direction: row;
    justify-content: center;
    background-color: $color-WHITE;
    border-radius: 1.2rem;

    &__icon {
        justify-content: center;
    }

    &__status {
        margin-left: 0.3rem;
        font-size: 1rem;
    }
}

.bookmark-container {
    display: block;
    margin-left: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.2rem;
    background-color: $color-WHITE;
    text-align: center;
}

.share-container {
    display: block;
    margin-left: 0.7rem;
    margin-right: 1.7rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.2rem;
    background-color: $color-WHITE;
}