.status-bar {
    &--left {
        @include status-bar;
        justify-content: flex-start;
        padding-left: 1.6rem;
    }

    &--right {
        @include status-bar;
        justify-content: flex-end;
        padding-left: 1.6rem;
    }

    &--highlight {
        display: float;
        width: 95%;
        padding-top: 2rem;
        box-shadow: 1px 1px 1px $SHADOW;
        background-color: $color-LIGHT_GREY;
        border-radius: 4px;
        padding-bottom: 2.4rem;
    }

    &--highlight--left {
        @extend .status-bar--highlight;
        float: left;
        border-top-right-radius: 0;
    }

    &--highlight--right {
        @extend .status-bar--highlight;
        float: right;
        border-top-left-radius: 0;

    }
}

.like-container {
    display: flex;
    width: 11.4rem;
    height: 2.5rem;
    flex-direction: row;
    justify-content: center;
    background-color: $color-WHITE;
    border-radius: 1.2rem;

    &__icon {
        justify-content: center;
    }

    &__status {
        margin-left: 0.3rem;
        font-size: 1rem;
    }
}

.bookmark-container {
    display: block;
    margin-left: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.2rem;
    background-color: $color-WHITE;
    text-align: center;
}

.share-container {
    display: block;
    margin-left: 0.7rem;
    margin-right: 1.7rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.2rem;
    background-color: $color-WHITE;
}
