@media screen and (min-width: 40rem) {
  .logo-container {
    padding-top: 10rem; }
  .bottom-sandwich__image {
    padding: 0 30rem; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* root. 10 to make calculations easier */
html {
  font-size: 62.5%;
  height: 100%; }

body {
  box-sizing: border-box; }

.search {
  display: flex;
  justify-content: center; }
  .search--border {
    display: inline-flex;
    border: 1px solid #9b9b9b;
    vertical-align: middle;
    height: 2.8rem; }
  .search--contents {
    border: none;
    height: 2.6rem; }
  .search__icon {
    margin-left: 1rem;
    margin-right: 0.6rem; }

.status-bar--left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1rem;
  justify-content: flex-start;
  padding-left: 1.6rem; }

.status-bar--right {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1rem;
  justify-content: flex-end;
  padding-right: 1.6rem; }

.status-bar--highlight {
  position: relative;
  left: 0;
  width: 36rem;
  padding-bottom: 1rem;
  padding-top: 2rem;
  background-color: #f2f2f2; }

.like-container {
  display: flex;
  width: 11.4rem;
  height: 2.5rem;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 1.2rem; }
  .like-container__icon {
    justify-content: center; }
  .like-container__status {
    margin-left: 0.3rem;
    font-size: 1rem; }

.bookmark-container {
  display: block;
  margin-left: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.2rem;
  background-color: #ffffff;
  text-align: center; }

.share-container {
  display: block;
  margin-left: 0.7rem;
  margin-right: 1.7rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.2rem;
  background-color: #ffffff; }

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  margin-top: auto; }

.logo-container {
  justify-content: center;
  padding-top: 19rem;
  padding-bottom: 11rem;
  display: flex; }
  .logo-container__logo {
    width: 24rem;
    height: 4rem;
    display: block;
    margin: auto;
    justify-content: center;
    align-items: center; }

.facebook-login {
  margin-top: 11rem;
  margin-bottom: 0.4rem;
  display: flex;
  justify-content: center;
  flex-direction: row; }
  .facebook-login__button {
    display: flex;
    width: 23rem;
    height: 4rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: flex-start;
    background-color: #507cc0;
    border-width: 0; }
  .facebook-login--border {
    width: 0.5px;
    height: 2.4rem;
    margin: auto 0;
    background-color: #ffffff;
    margin-left: 1.7rem; }
  .facebook-login__text {
    font-weight: bold;
    font-size: 1rem;
    margin: auto 0;
    color: #ffffff;
    margin-left: 1.4rem; }
  .facebook-login__logo {
    margin: auto 0;
    justify-content: center;
    align-items: center;
    width: 1.2rem;
    height: 2.1rem;
    margin-left: 2.5rem; }

.kakao-login {
  margin-bottom: 1.6rem;
  display: flex;
  justify-content: center;
  flex-direction: row; }
  .kakao-login--button {
    display: flex;
    width: 23rem;
    height: 4rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffcd00;
    border-width: 0;
    margin: 0 auto; }
  .kakao-login__logo {
    width: 2.3rem;
    height: 2.2rem;
    margin: auto 0;
    margin-left: 2.2rem; }
  .kakao-login--border {
    width: 0.5px;
    height: 2.4rem;
    margin: auto 0;
    background-color: #ffffff;
    margin-left: 0.9rem; }
  .kakao-login__text {
    font-weight: bold;
    font-size: 1rem;
    margin: auto 0;
    color: #ffffff;
    margin-left: 2.1rem; }

.skip-container {
  display: flex;
  justify-content: center;
  margin-top: 1.6rem; }
  .skip-container__arrow {
    width: 1rem;
    height: 1rem;
    justify-content: center; }
  .skip-container__text {
    display: inline;
    padding-left: 0.5rem;
    padding-bottom: 4.3rem;
    font-size: 1.2rem;
    color: #9b9b9b; }

.bottom-sandwich__image {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 13.4rem;
  z-index: -1; }

.sandwich-item, .sandwich-item--right, .sandwich-item--left, .sandwich-item__image {
  display: flex;
  flex-direction: column;
  margin-top: 21px; }
  .sandwich-item--right {
    align-items: flex-end; }
  .sandwich-item--left {
    align-items: flex-start; }
  .sandwich-item__image {
    width: 32rem;
    height: 16.5rem; }
  .sandwich-item__divider-container, .sandwich-item__divider-container--right, .sandwich-item__divider-container--left {
    display: flex;
    padding: 2; }
    .sandwich-item__divider-container--right {
      justify-content: flex-end; }
    .sandwich-item__divider-container--left {
      justify-content: flex-start; }
    .sandwich-item__divider-container__divider {
      width: 56px;
      height: 4px;
      margin-top: -4px;
      background-color: #228B22; }
  .sandwich-item__details, .sandwich-item__details--right, .sandwich-item__details--left {
    display: flex;
    flex-direction: row;
    margin-top: -25px; }
    .sandwich-item__details--right {
      justify-content: flex-end; }
    .sandwich-item__details--left {
      justify-content: flex-start; }
  .sandwich-item__container, .sandwich-item__container--left, .sandwich-item__container--right {
    display: flex;
    flex-direction: column;
    width: 36rem;
    height: auto;
    border-radius: 4px;
    background-color: #f2f2f2;
    z-index: -1; }
    .sandwich-item__container--left {
      align-items: flex-start; }
    .sandwich-item__container--right {
      align-items: flex-end; }
    .sandwich-item__container__name-ranking, .sandwich-item__container__name-ranking--left, .sandwich-item__container__name-ranking--right {
      display: flex; }
      .sandwich-item__container__name-ranking--left {
        flex-direction: row-reverse; }
      .sandwich-item__container__name-ranking--right {
        flex-direction: row;
        justify-content: flex-end; }
      .sandwich-item__container__name-ranking__ranking {
        height: 100%;
        justify-content: center;
        font-size: 64px;
        font-weight: bold;
        margin-right: 14px;
        z-index: 5; }
      .sandwich-item__container__name-ranking__name, .sandwich-item__container__name-ranking__name--left, .sandwich-item__container__name-ranking__name--right {
        display: flex;
        width: 24rem;
        height: 100%;
        align-items: flex-end;
        z-index: 5;
        font-weight: bold;
        margin: 0 14px;
        font-size: 26px; }
      .sandwich-item__container__name-ranking__name--left {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-self: center; }
      .sandwich-item__container__name-ranking__name--right {
        flex-direction: column;
        align-items: flex-end;
        align-self: center; }

.item-detail {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 10px;
  margin-left: 20px; }
  .item-detail__title {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px; }
  .item-detail--container {
    display: flex;
    width: 315px;
    background-color: #ffffff;
    flex-direction: row;
    margin-top: 10px; }
    .item-detail--container__name {
      text-align: center; }
  .item-detail__image {
    width: 8rem;
    height: 5.5rem; }
