@media screen and (min-width: 40rem) {
  .bottom-sandwich__image {
    display: none; }
  .router {
    padding: 10rem; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* root. 10 to make calculations easier */
html {
  font-size: 62.5%;
  height: 100%; }

body {
  box-sizing: border-box; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #f1f1f1; }

button {
  border-radius: 1.2rem;
  border-width: 1px;
  background-color: transparent;
  box-shadow: none; }

.filter-container ul {
  display: block;
  float: center;
  columns: 3; }
  @media screen and (max-width: 470px) {
    .filter-container ul {
      columns: 2; } }

.filter-container li {
  margin: 0 0 10px 0; }

.filter-container__category {
  width: 350px;
  margin: 0 auto; }
  @media screen and (max-width: 470px) {
    .filter-container__category {
      width: 230px;
      margin: 0 auto; } }

.filter-container__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .filter-container__header__title {
    font-size: 16px;
    font-weight: bold; }

.filter-container--header-divider {
  border-width: 3px;
  margin-top: 17px; }

.filter-container__subtitle {
  margin: 2rem 0 2.4rem;
  font-weight: bold; }

.filter-container__border {
  margin-top: 2rem; }

.filter-container__list > * {
  padding: 1rem;
  width: 110px;
  height: 95px;
  border-radius: 12px;
  background-color: #ffcd00;
  color: white; }
  .filter-container__list > *__block {
    margin: 0; }

.method-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 2rem;
  min-width: 100%;
  min-height: auto;
  overflow-x: auto; }
  .method-container--content {
    max-width: 100%;
    white-space: nowrap;
    height: auto;
    border-radius: 1.2rem; }
  .method-container__button, .method-container__button--selected {
    border-width: 0;
    padding: 3px 2px; }
    .method-container__button:not(:last-child), .method-container__button--selected:not(:last-child) {
      margin-right: 2.3rem; }
    .method-container__button--selected {
      background-color: #ffcd00;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); }
    .method-container__button__text, .method-container__button__text--selected {
      font-size: 1.2rem; }
      .method-container__button__text--selected {
        color: #ffffff; }

.category-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 100%;
  min-height: auto;
  overflow-x: auto; }
  .category-container--content {
    max-width: 100%;
    white-space: nowrap;
    height: auto;
    border-radius: 1.2rem; }
  .category-container__button, .category-container__button--selected {
    margin-right: 1rem;
    border-width: 0;
    padding: 3px 2px;
    border-width: 0;
    width: auto;
    height: auto; }
    .category-container__button--selected {
      background-color: #ffcd00;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); }
    .category-container__button__text, .category-container__button__text--selected {
      font-size: 1.2rem; }
      .category-container__button__text--selected {
        color: #ffffff; }
  .category-container__border {
    margin-top: 14px;
    margin-bottom: 10px; }

.search {
  display: flex;
  justify-content: center; }
  .search--border {
    display: inline-flex;
    border: 1px solid #9b9b9b;
    vertical-align: middle;
    height: 2.8rem; }
  .search--contents {
    border: none;
    height: 2.6rem; }
  .search__icon {
    margin-left: 1rem;
    margin-right: 0.6rem; }
  .search__filter {
    background-color: transparent;
    border-width: 0;
    margin-left: 0.7rem; }

.status-bar--left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1rem;
  justify-content: flex-start;
  padding-left: 1.6rem; }
  .status-bar--left:last-child {
    margin-bottom: 2rem; }

.status-bar--right {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1rem;
  justify-content: flex-end;
  padding-left: 1.6rem; }
  .status-bar--right:last-child {
    margin-bottom: 2rem; }

.status-bar--highlight, .status-bar--highlight--left, .status-bar--highlight--right {
  display: float;
  width: 36rem;
  padding-top: 2rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  border-radius: 4px;
  padding-bottom: 2.4rem; }

.status-bar--highlight--left {
  float: left;
  border-top-right-radius: 0; }

.status-bar--highlight--right {
  float: right;
  border-top-left-radius: 0; }

.like-container {
  display: flex;
  width: 11.4rem;
  height: 2.5rem;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 1.2rem; }
  .like-container__icon {
    justify-content: center; }
  .like-container__status {
    margin-left: 0.3rem;
    font-size: 1rem; }

.bookmark-container {
  display: block;
  margin-left: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.2rem;
  background-color: #ffffff;
  text-align: center; }

.share-container {
  display: block;
  margin-left: 0.7rem;
  margin-right: 1.7rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.2rem;
  background-color: #ffffff; }

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  margin-top: auto; }

.logo-container {
  justify-content: center;
  padding-top: 10rem;
  padding-bottom: 11rem;
  display: flex; }
  .logo-container__logo {
    width: 24rem;
    height: 4rem;
    display: block;
    margin: auto;
    justify-content: center;
    align-items: center; }

.facebook-login {
  margin-top: 11rem;
  margin-bottom: 0.4rem;
  display: flex;
  justify-content: center;
  flex-direction: row; }
  .facebook-login__button {
    display: flex;
    width: 23rem;
    height: 4rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: flex-start;
    background-color: #507cc0;
    border-width: 0; }
  .facebook-login--border {
    width: 0.5px;
    height: 2.4rem;
    margin: auto 0;
    background-color: #ffffff;
    margin-left: 1.7rem; }
  .facebook-login__text {
    font-weight: bold;
    font-size: 1rem;
    margin: auto 0;
    color: #ffffff;
    margin-left: 1.4rem; }
  .facebook-login__logo {
    margin: auto 0;
    justify-content: center;
    align-items: center;
    width: 1.2rem;
    height: 2.1rem;
    margin-left: 2.5rem; }

.kakao-login {
  margin-bottom: 1.6rem;
  display: flex;
  justify-content: center;
  flex-direction: row; }
  .kakao-login--button {
    display: flex;
    width: 23rem;
    height: 4rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffcd00;
    border-width: 0;
    margin: 0 auto; }
  .kakao-login__logo {
    width: 2.3rem;
    height: 2.2rem;
    margin: auto 0;
    margin-left: 2.2rem; }
  .kakao-login--border {
    width: 0.5px;
    height: 2.4rem;
    margin: auto 0;
    background-color: #ffffff;
    margin-left: 0.9rem; }
  .kakao-login__text {
    font-weight: bold;
    font-size: 1rem;
    margin: auto 0;
    color: #ffffff;
    margin-left: 2.1rem; }

.skip-container {
  display: flex;
  justify-content: center;
  margin-top: 1.6rem; }
  .skip-container__arrow {
    width: 1rem;
    height: 1rem;
    justify-content: center; }
  .skip-container__text {
    display: inline-block;
    margin-left: 0.5rem;
    margin-bottom: 4.3rem;
    font-size: 1.2rem;
    color: #9b9b9b; }

.bottom-sandwich__image {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 13.4rem;
  z-index: -1; }

.sandwich-item, .sandwich-item--right, .sandwich-item--left, .sandwich-item__image {
  display: flex;
  flex-direction: column;
  margin-top: 21px; }
  .sandwich-item--right {
    align-items: flex-end; }
  .sandwich-item--left {
    align-items: flex-start; }
  .sandwich-item__image {
    width: 32rem;
    height: 16.5rem; }
  .sandwich-item__divider-container, .sandwich-item__divider-container--right, .sandwich-item__divider-container--left {
    display: flex;
    padding: 2px; }
    .sandwich-item__divider-container--right {
      justify-content: flex-end; }
    .sandwich-item__divider-container--left {
      justify-content: flex-start; }
    .sandwich-item__divider-container__divider {
      width: 56px;
      height: 4px;
      margin-top: -4px;
      background-color: #228B22; }
  .sandwich-item__details, .sandwich-item__details--right, .sandwich-item__details--left {
    display: flex;
    flex-direction: row;
    margin-top: -25px; }
    .sandwich-item__details--right {
      justify-content: flex-end; }
    .sandwich-item__details--left {
      justify-content: flex-start; }
  .sandwich-item__container, .sandwich-item__container--left, .sandwich-item__container--right {
    display: flex;
    flex-direction: column;
    width: 36rem;
    height: auto;
    border-radius: 4px;
    background-color: #f2f2f2;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    z-index: -1; }
    .sandwich-item__container--left {
      border-bottom-right-radius: 0;
      align-items: flex-start; }
    .sandwich-item__container--right {
      border-bottom-left-radius: 0;
      align-items: flex-end; }
    .sandwich-item__container__name-ranking, .sandwich-item__container__name-ranking--left, .sandwich-item__container__name-ranking--right {
      display: flex; }
      .sandwich-item__container__name-ranking--left {
        flex-direction: row-reverse; }
      .sandwich-item__container__name-ranking--right {
        flex-direction: row;
        justify-content: flex-end; }
      .sandwich-item__container__name-ranking__ranking {
        height: 100%;
        justify-content: center;
        font-size: 64px;
        font-weight: bold;
        margin-right: 14px;
        z-index: 5; }
      .sandwich-item__container__name-ranking__name, .sandwich-item__container__name-ranking__name--left, .sandwich-item__container__name-ranking__name--right {
        display: flex;
        width: 24rem;
        height: 100%;
        align-items: flex-end;
        z-index: 5;
        font-weight: bold;
        margin: 0 14px;
        font-size: 26px; }
      .sandwich-item__container__name-ranking__name--left {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-self: center; }
      .sandwich-item__container__name-ranking__name--right {
        flex-direction: column;
        align-items: flex-end;
        align-self: center; }

.item-detail {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 1rem;
  margin-left: 2rem; }
  .item-detail__title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 1rem; }
  .item-detail--container {
    display: flex;
    width: 31.5rem;
    background-color: #ffffff;
    flex-direction: row;
    margin-top: 1rem; }
    .item-detail--container__name {
      text-align: center; }
  .item-detail__image {
    width: 8rem;
    height: 5.5rem; }
