@media screen and (min-width: 40rem) {
    .bottom-sandwich__image {
        display: none;
    }
    .router {
      padding: 10rem;
    }
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* root. 10 to make calculations easier */
html {
  // This defines what 1 rem is
  font-size: 62.5%;
  height: 100%;
}

body {
  box-sizing: border-box;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $color-BORDER;
}
