.login-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    margin-top: auto;
}

.logo-container {
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 11rem;
    display: flex;

    &__logo {
        width: 24rem;
        height: 4rem;
        display: block;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
}

.facebook-login {
    margin-top: 11rem;
    margin-bottom: 0.4rem;
    display: flex;
    justify-content: center;
    flex-direction: row;

    &__button {
        @include login-button;
        background-color: $color-SEA_BLUE;
        border-width: 0;
    }

    &--border {
        @include logo-vertical-border;
        margin-left: 1.7rem;
    }

    &__text {
        @include login-text;
        margin-left: 1.4rem;

    }

    &__logo {
        margin: auto 0;
        justify-content: center;
        align-items: center;
        width: 1.2rem;
        height: 2.1rem;
        margin-left: 2.5rem;
    }
}

.kakao-login {
    margin-bottom: 1.6rem;
    display: flex;
    justify-content: center;
    flex-direction: row;

    &--button {
        @include login-button;
        background-color: $color-YELLOW;
        border-width: 0;
        margin: 0 auto;
    }

    &__logo {
        width: 2.3rem;
        height: 2.2rem;
        margin: auto 0;
        margin-left: 2.2rem;
    }

    &--border {
        @include logo-vertical-border;
        margin-left: 0.9rem;
    }

    &__text {
        @include login-text;
        margin-left: 2.1rem;
    }

}

.skip-container {
    display: flex;
    justify-content: center;
    margin-top: 1.6rem;

    &__arrow {
        width: 1rem;
        height: 1rem;
        justify-content: center;
    }

    &__text {
        display: inline-block;
        margin-left: 0.5rem;
        margin-bottom: 4.3rem;
        font-size: 1.2rem;
        color: $color-WARM_GREY
    }
}

.bottom-sandwich {

    &__image {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 13.4rem;
        z-index: -1;
    }
}
