.sandwich-item {
    display: flex;
    flex-direction: column;
    margin-top: 21px;

    &--right {
        @extend .sandwich-item;
        align-items: flex-end;
    }

    &--left {
        @extend .sandwich-item;
        align-items: flex-start;
    }


    &__divider-container {
        display: flex;
        padding: 2;

        &--right {
            @extend .sandwich-item__divider-container;
            justify-content: flex-end;
        }
        &--left {
            @extend .sandwich-item__divider-container;
            justify-content: flex-start;
        }

        &__divider {
            width: 56px;
            height: 4px;
            margin-top: -4px;
            background-color: $color-GREEN;
        }
    }

    &__details {
        display: flex;
        flex-direction: row;
        margin-top: -25px;

        &--right {
            @extend .sandwich-item__details;
            justify-content: flex-end;
        }
        &--left {
            @extend .sandwich-item__details;
            justify-content: flex-start;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        width: 36rem;
        height: auto;
        border-radius: 4px;
        background-color: $color-LIGHT_GREY;
        z-index: -1;

        &--left {
            @extend .sandwich-item__container;
            align-items: flex-start;
        }
        &--right {
            @extend .sandwich-item__container;
            align-items: flex-end;
            // align-items: center;
        }

        &__name-ranking {
            display: flex;

            &--left {
                @extend .sandwich-item__container__name-ranking;
                flex-direction: row-reverse;
            }

            &--right {
                @extend .sandwich-item__container__name-ranking;
                flex-direction: row;
                justify-content: flex-end;
            }

            &__ranking {
                height: 100%;
                justify-content: center;

                font-size: 64px;
                font-weight: bold;
                margin-right: 14px;
                z-index: 5;
            }

            &__name {
                display: flex;
                width: 24rem;
                height: 100%;
                align-items: flex-end;
                z-index: 5;
                font-weight: bold;
                margin: 0 14px;
                font-size: 26px;
            }

            &__name--left {
                @extend .sandwich-item__container__name-ranking__name;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                align-self: center;
            }

            &__name--right {
                @extend .sandwich-item__container__name-ranking__name;
                flex-direction: column;
                align-items: flex-end;
                align-self: center;
            }
        }
    }
}